.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

form {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    width: 100%;
    height: 50px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

form input {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
